.body {
  font-family: "Roboto", sans-serif;
}

.hero-background {
  height: 100vh;
  background-color: #607d8b;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  color: #cbba83;
}
.alec-name {
  font-family: "Roboto";
  color: white;
}
.test {
  text-transform: capitalize;
}
.nav-item {
  font-family: "Roboto";
  font-weight: 700;
}

.circle-holder {
  border-radius: 50%;
  height: 35px;
  width: 35px;

  background-color: #cbba83;
}
.circle-holder {
  font-size: 32px;
}
.nav-link-text {
  color: red;
}
.page-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #cbba83;
}
.testimonials {
  height: 30vh;
  background-color: white;
}
.about {
  height: 100vh;
  background-color: #e5e5e5;
}
.personal-photo {
  background-image: url("../images/Group\ 14.png");
  background-size: cover;
  height: 30vh;
}
.about-me-col {
  background-color: #607d8b;
  border-radius: 0 15px 15px 0;
}
.about-card {
  position: relative;
  background-color: red;
  height: 500px;
  border-radius: 15px;
  margin-right: 20px;
}
.about-card-overlay {
  background-color: blue;
  height: 200px;
  width: 100%;
  border-radius: 0 15px 15px 15px;
}
.about-cards-row {
}
