body {
  font-family: "Roboto", sans-serif;
}

.hero-background {
  height: 100vh;
  background-color: #dbdbdb;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  color: #cbba83;
}
.alec-name {
  font-family: "Roboto";
  color: white;
}
.test {
  text-transform: capitalize;
}
.nav-item {
  font-family: "Roboto";
  font-weight: 700;
}

.circle-holder {
  border-radius: 50%;
  height: 35px;
  width: 35px;

  background-color: #cbba83;
}
.circle-holder {
  font-size: 32px;
}
.nav-link-text {
  color: red;
}
.page-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #cbba83;
}
.testimonials {
  height: 30vh;
  background-color: white;
}
.skill-badge {
  background-color: #cbba83;
}
.about {
  height: 100vh;
  background-color: #e5e5e5;
}
.main-area-row {
  height: 85%;
}

/* Testing area */

.test-card {
  background-image: url("../images/uofulogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.full-card {
  background-color: #cbba83;
}
.height-adjustment {
  height: 100%;
}
.experience-card-image {
  width: 200px;
  heigth: 200px;
}

.about-me-title {
  color: white;
}
.about-me-text {
  color: white;
}

/* Chief beef */

.personal-photo {
  background-image: url("../images/headshotblur.jpg");
  background-size: cover;
  height: 30vh;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.about-me-col {
  background-color: #607d8b;
  border-radius: 0 15px 15px 0;
}
.about-card {
  position: relative;
  background-color: white;
  height: 300px;
  border-radius: 15px 15px 0 0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
  box-shadow: 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-card-overlay {
  background-color: #607d8b;
  height: 150px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-cards-row {
}
.card-pictures {
  width: 100%;
  height: auto;
}
.about-card-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.projects {
  height: 100vh;
  background-color: #607d8b;
}
.project-card {
  padding: 0;
  background-color: #8eacbb;
  border-radius: 0 15px 15px 0;
}
.project-actions {
}
.personal-photo-standalone {
  border-radius: 15px 0 0 15px;
}
.projects-heading {
  font-weight: 700;
  color: white;
}
.project-1 {
  background-image: url("/images/recipeasy.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}
